# PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL ncdu" # additional packages to build Armbian with
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL libtext-iconv-perl apparmor python3-pip libubootenv-tool"

if [[ -n "$JETHOME_CUSTOMIZATION_NAME" ]] ;then
	CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_PATH=$SRC/jethome/customization/$JETHOME_CUSTOMIZATION_NAME/packages/PACKAGE_LIST_ADDITIONAL
	if [[ -f "$CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_PATH" ]]; then
		CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES=$(tr '\n' ' ' < "$CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_PATH")
		if [[ -n "${CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES//[[:space:]]/}" ]]; then
			display_alert "Adding \"$JETHOME_CUSTOMIZATION_NAME\" customization packages to PACKAGE_LIST_ADDITIONAL: $CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES" "" "info"
			PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL $CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES"
		else
			echo "----> skipping custom package list from $CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_PATH. Empty list"
		fi
	else
		echo "----> skipping custom package list from $CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_PATH. No such file"
	fi
fi
