# PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL ncdu" # additional packages to build Armbian with
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL libtext-iconv-perl"

if [[ -n "$CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL" ]] ;then
	CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES=$(tr -d '\n' < "$SRC/jethome/overlay/packages/customization/$CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL/PACKAGE_LIST_ADDITIONAL")
	if [[ -n "$CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES" ]]; then
		display_alert "Adding \"$CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL\" customization packages to PACKAGE_LIST_ADDITIONAL: $CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES" "" "info"
		PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL $CUSTOMIZATION_PACKAGE_LIST_ADDITIONAL_TRIMMED_PACKAGES"
	fi
fi